/*
 * Basic reset css for mobile
 * author : cheunglong
 */
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
address,
em,
img,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
i,
b,
s,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: punctuation, "PingFangSC-Regular", "Microsoft Yahei", "sans-serif";
  -webkit-font-smoothing: subpixel-antialiased;
}

ul,
ol {
  list-style: none
}

a img {
  border: none;
  vertical-align: top;
}

a {
  text-decoration: none;
}

button {
  overflow: visible;
  padding: 0;
  margin: 0;
  border: 0 none;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
}

input[type=password] {
  -webkit-text-security: disc;
}

textarea:focus,
input:focus,
button:focus {
  outline: none;
}

body {
  word-wrap: break-word;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* 禁用文字选取以及系统默认菜单 */
html,
body,
section,
div,
p,
a,
button,
span,
em,
i,
video,
img {
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  -khtml-user-select: none;
  /*早期浏览器*/
  user-select: none;
  webkit-touch-callout: none;
}