html {
  font-size: 50px;
  /* 用于KAKA生成rem精灵图 */
}

.main-page {
  width: 100%;
  background-color: #fffcf1;
  position: relative;
}

.main-page:after {
  content: '';
  width: 7.5rem;
  height: 14.45rem;
  background-image: url(./img/page-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 6rem;
  left: 0;
  right: 0;
}

/* 头部 */
.main-page .mp-head {
  width: 7.5rem;
  height: 4.22rem;
  background-image: url(./img/page-head.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.main-page .mp-title {
  width: 6.44rem;
  height: 1.98rem;
  background-image: url(./img/page-title.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: auto;
}

/* 选项 */
.main-page .mp-options {
  font-size: 0;
  text-align: center;
  margin-top: .23rem;
  position: relative;
  z-index: 5;
}

.main-page .mo-card {
  display: inline-block;
  width: 3.43rem;
  height: 2.17rem;
  border: .04rem solid #000;
  border-radius: .18rem;
  position: relative;
  vertical-align: top;
}

.main-page .mo-card.mo-other {
  border: none;
  filter: grayscale(1);
  transform: scale(.885);
  opacity: .9;
}

.main-page .mo-card .mc-content {
  width: 3.32rem;
  height: 2.06rem;
  background-image: url(./img/slice/rem/card@2x.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.main-page .mo-card.mo-card-2 .mc-content {
  background-image: url(./img/slice/rem/card-2@2x.png);
}

.main-page .mo-card .mc-name {
  font-size: .24rem;
  color: rgb(193, 127, 0);
  text-align: center;
  line-height: 1.2;
  margin-top: .5rem;
}

.main-page .mo-card.mo-card-2 .mc-name {
  color: rgb(129, 18, 0);
}

.main-page .mo-card.mo-other .mc-name {
  margin-top: .6rem;
}

.main-page .mo-card .mc-price {
  font-size: .6rem;
  font-weight: 600;
  background-image: -webkit-linear-gradient(top, #ed471d, #c20402);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgb(194, 4, 2);
  text-align: center;
  line-height: 1.2;
  margin-top: .12rem;
}

.main-page .mo-card.mo-card-2 .mc-price {
  font-size: .55rem;
}

.main-page .mo-card.mo-card-2 .mc-desc {
  font-size: .23rem;
  color: #fff;
  line-height: 1.2;
  margin-top: -.08rem;
  position: relative;
}

.main-page .mo-card .mc-desc:after {
  content: '';
  display: inline-block;
  height: .02rem;
  width: 1.41rem;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.main-page .mo-card.mo-card-2.mo-other .mc-price,
.main-page .mo-card.mo-card-2 .mc-price {
  color: #fff776;
  background-image: -webkit-linear-gradient(top, #fff776, #fff776);
  margin-top: 0;
}

.main-page .mo-card .mc-price:after {
  content: '元';
  font-size: .3rem;
  background-image: -webkit-linear-gradient(top, #ed471d, #c20402);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgb(194, 4, 2);
}

.main-page .mo-card.mo-card-2.mo-other .mc-price:after,
.main-page .mo-card.mo-card-2 .mc-price:after {
  color: #811200;
  background-image: -webkit-linear-gradient(top, #811200, #811200);
}

.main-page .mo-card.mo-card-2 .mc-price:before {
  content: '仅需';
  font-size: .3rem;
  background-image: -webkit-linear-gradient(top, #811200, #811200);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #811200;
}

.main-page .mo-card.mo-other .mc-price {
  font-size: .38rem;
  background-image: -webkit-linear-gradient(top, #848484, #848484);
  color: #848484;
  margin-top: .16rem;
}

.main-page .mo-card.mo-card-2.mo-other .mc-price {
  margin-top: .12rem;
}

.main-page .mo-card.mo-card-2.mo-other .mc-desc {
  margin-top: 0;
}

.main-page .mo-card.mo-other .mc-price:after {
  content: '元';
  background-image: -webkit-linear-gradient(top, #848484, #848484);
  color: #848484;
}

.main-page .mo-btn {
  width: 5.24rem;
  height: 1.16rem;
  background-image: url(./img/slice/rem/btn@2x.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: auto;
  margin-top: .44rem;
}

/* 抽奖 */
.main-page .mp-prize {
  width: 6.75rem;
  height: 8.59rem;
  position: relative;
  margin: auto;
  margin-top: .58rem;
}

.main-page .mp-prize:after {
  content: '';
  width: 6.55rem;
  height: 8.39rem;
  border: .04rem solid #000;
  border-radius: .18rem;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5;
  border-top-left-radius: .78rem;
}

.main-page .mp-prize:before {
  content: '';
  width: .66rem;
  height: .88rem;
  background-image: url(./img/slice/rem/star@2x.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: -.3rem;
  right: .74rem;
  z-index: 15;
}

.main-page .mp-prize .me-content {
  width: 6.55rem;
  height: 8.39rem;
  border: .04rem solid #000;
  border-radius: .18rem;
  border-top-left-radius: .78rem;
  background-color: #ffc821;
  position: relative;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.main-page .mp-prize .me-content:after {
  position: absolute;
  content: '';
  width: .98rem;
  height: .94rem;
  background-image: url(./img/slice/rem/corner@2x.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  left: -0.06rem;
  top: -.14rem;
}

.main-page .mp-prize .me-btn {
  width: 2.62rem;
  height: .86rem;
  background-image: url(./img/slice/rem/btn-1@2x.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: auto;
  margin-top: .19rem;
}

.main-page .mp-prize .me-num {
  font-size: .25rem;
  color: rgb(31, 44, 56);
  line-height: 1.2;
  text-align: center;
  margin-top: .14rem;
}

.main-page .mp-prize .me-list {
  font-size: 0;
  text-align: center;
  margin-top: .17rem;
}

.main-page .mp-prize .me-list li {
  display: inline-block;
  width: 1.75rem;
  height: 1.75rem;
  border: .04rem solid #000;
  background-color: #fff;
  border-radius: .18rem;
  margin-left: .22rem;
  margin-bottom: .22rem;
  vertical-align: top;
  position: relative;
}

.main-page .mp-prize .me-list li:nth-child(3n+1) {
  margin-left: 0;
}

.main-page .mp-prize .me-list .ml-name {
  font-size: .21rem;
  color: #000;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin-bottom: .08rem;
}

.main-page .mp-prize .me-list .ml-end {
  font-size: .3rem;
  color: rgb(255, 164, 21);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-page .mp-prize .me-links {
  width: 5.93rem;
  font-size: 0;
  margin: auto;
  margin-top: .03rem;
}

.main-page .mp-prize .me-links button {
  font-size: .25rem;
  color: rgb(31, 44, 56);
  border-bottom: .02rem solid #000;
  line-height: 1.2;
}

.main-page .mp-prize .me-links button:last-child {
  float: right;
}

.main-page .mp-prize .me-list .vip-year-10 .ml-icon {
  width: 1.42rem;
  height: .94rem;
  background-image: url(./img/slice/rem/vip-year-10@2x.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: auto;
  margin-top: .28rem;
}

.main-page .mp-prize .me-list .vip-year-1 .ml-icon {
  width: 1.48rem;
  height: 1.26rem;
  background-image: url(./img/slice/rem/vip-year-1@2x.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: auto;
  margin-top: .1rem;
}

.main-page .mp-prize .me-list .vip-month-3 .ml-icon {
  width: 1.42rem;
  height: .92rem;
  background-image: url(./img/slice/rem/vip-month-3@2x.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: auto;
  margin-top: .23rem;
}

.main-page .mp-prize .me-list .vip-day-7 .ml-icon,
.main-page .mp-prize .me-list .vip-day-15 .ml-icon,
.main-page .mp-prize .me-list .vip-month-1 .ml-icon {
  width: .88rem;
  height: .82rem;
  background-image: url(./img/slice/rem/vip@2x.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: auto;
  position: relative;
  margin-top: .32rem;
}

.main-page .mp-prize .me-list .vip-day-15 .ml-icon:after,
.main-page .mp-prize .me-list .vip-month-1 .ml-icon:after {
  content: '';
  width: .62rem;
  height: .34rem;
  background-image: url(./img/slice/rem/month-1@2x.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: -.1rem;
  right: -.3rem;
}

.main-page .mp-prize .me-list .vip-day-15 .ml-icon:after {
  background-image: url(./img/slice/rem/day-15@2x.png);
}

.main-page .mp-prize .me-list .vip-day-7 .ml-icon:after {
  content: '';
  width: .46rem;
  height: .34rem;
  background-image: url(./img/slice/rem/day-7@2x.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: -.1rem;
  right: -.16rem;
}

.main-page .mp-prize .me-list .score-200 .ml-icon,
.main-page .mp-prize .me-list .score-100 .ml-icon {
  width: 1.06rem;
  height: .86rem;
  background-image: url(./img/slice/rem/up@2x.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: auto;
  position: relative;
  margin-top: .3rem;
}

.main-page .mp-prize .me-list .score-200 .ml-icon:after,
.main-page .mp-prize .me-list .score-100 .ml-icon:after {
  content: '';
  width: .84rem;
  height: .38rem;
  background-image: url(./img/slice/rem/score-200@2x.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: .28rem;
  left: -.05rem;
}

.main-page .mp-prize .me-list .score-100 .ml-icon:after {
  background-image: url(./img/slice/rem/score-100@2x.png);
}

/* 规则 */
.main-page .mp-rule {
  font-size: 0;
  text-align: center;
  margin-top: .22rem;
  padding-bottom: .86rem;
  position: relative;
  z-index: 5;
}

.main-page .mp-rule .mr-title {
  display: inline-block;
  position: relative;
  width: 1.83rem;
  height: .5rem;
  margin-bottom: .2rem;
}

.main-page .mp-rule .mr-title:before {
  content: '活动规则';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  font-size: .38rem;
  color: rgb(31, 44, 56);
  line-height: .5rem;
  z-index: 5;
}

.main-page .mp-rule .mr-title:after {
  content: '';
  height: .20rem;
  background-color: rgb(255, 200, 33);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.main-page .mp-rule .mr-list {
  width: 6.3rem;
  margin: auto;
}

.main-page .mp-rule .mr-list li {
  display: flex;
  justify-content: flex-start;
  margin-bottom: .11rem;
}

.main-page .mp-rule .mr-list .mr-no {
  width: .28rem;
  height: .28rem;
  border-radius: 50%;
  background-color: rgb(255, 200, 33);
  font-size: .18rem;
  color: rgb(31, 44, 56);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: .09rem;
}

.main-page .mp-rule .mr-list li p {
  flex: 1;
  font-size: .22rem;
  color: rgb(31, 44, 56);
  line-height: .28rem;
  text-align: left;
}

/* 弹框 */
.mp-dialog {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 20;
}

.mp-dialog .md-content {
  width: 4.98rem;
  height: 2.67rem;
  border-radius: .18rem;
  border: .04rem solid #000;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mp-dialog .md-content .md-close {
  width: .56rem;
  height: .56rem;
  background-image: url(./img/slice/rem/close@2x.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: -.16rem;
  right: -.2rem;
}

.mp-dialog .md-content .md-message {
  font-size: .28rem;
  color: rgb(31, 44, 56);
  line-height: 1.2;
}